body {
  margin: 0;
  padding: 0;
}

.calculator {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.button {
  border: 1px solid black;
  width: 33.3333%;
  height: 166px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
